.textArea{
  height: 100px;
}

.formControl{
  display: inline-block !important;
  margin-left: 20px !important;
  margin-top: 20px !important; 
}

#enter-verses-label{
  overflow: visible;
}
#enter-verses{
  overflow: visible;
  width: 1000px;
}

.textArea{
  margin-top: 50px;
  margin-left: 20px;
  min-height: 500px;
  width: 1020px;
  overflow: scroll;
}

.submitButton{
  margin-top: 20px !important;
  margin-left: 950px !important;
}

.errors{
  margin-left: 20px;
  margin-top: 20px;
  white-space: pre-line;
  width: 60%;
  height: 300;
}

.datagrid{
  height: 800px;
  width: 150%;
}