.textArea{
  height: 100px;
}

.formControl{
  display: inline-block !important;
  margin-left: 20px !important;
  margin-top: 20px !important; 
}

.selectField{
  width:150px;
}

.textArea{
  margin-top: 50px;
  margin-left: 20px;
  height: 500px !important;
  width: 1000px;
}